@page "/"
@namespace BOSGlobal.Crm.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "_Layout"; }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BOS Global CRM</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/app-theme.css" />
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
    <script src="/js/recaptcha.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
